nav {
  width: 100%;
  height: 5.5em;
  display: flex;
  background-color: #3c99dc;
  align-items: center;
}

nav div {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

nav img {
  width: 10%;
  margin-left: 10em;
}

ul {
  list-style-type: none;
}

.active {
  text-decoration: none;
  color: #CCF2FF;
  font-size: 1.2em;
  font-weight: 500;
  padding: 0 1.5em;
}

.inactive:hover {
  color: #CCF2FF;
}

.inactive {
  text-decoration: none;
  color: #afd8e6;
  font-size: 1.2em;
  font-weight: 500;
  padding: 0 1.5em;
}

.home {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #d5f3fe;
  /* background-color: #f3fbff; */
  align-items: center;
}

.home h1 {
  margin-top: 2em;
  font-size: 3em;
  color: #0f5298;
}

.home-download {
  width: 40%;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  gap: 3em;
}

.dropdown {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: #3c99dc;
  padding: 0.7em;
  border-radius: 8px;
  box-shadow: 2px 3px 9px 1px rgba(157, 157, 157, 0.75);
  -webkit-box-shadow: 2px 3px 9px 1px rgba(157, 157, 157, 0.75);
  -moz-box-shadow: 2px 3px 9px 1px rgba(157, 157, 157, 0.75);
  text-align: center;
}


.drop-menu {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.drop-menu a {
  color: #ccf2ff;
  font-size: 20px;
}

.drop-menu a:hover {
  color: #ccf2ff;
}

.drop-items {
  display: flex;
  margin-bottom: 5em;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.drop-items .a {
  width: 100%;
  font-size: 18px;
  padding: 0.6em 0 0.6em 0;
  color: #616161;
}

.ganjil {
  background-color: #b4cbd4;
}

.genap {
  background-color: #ebebeb;
}

.download {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: #3c99dc;
  color: #ccf2ff;
  padding: 0.7em;
  border-radius: 8px;
  box-shadow: 2px 3px 9px 1px rgba(157, 157, 157, 0.75);
  -webkit-box-shadow: 2px 3px 9px 1px rgba(157, 157, 157, 0.75);
  -moz-box-shadow: 2px 3px 9px 1px rgba(157, 157, 157, 0.75);
  text-align: center;
  font-size: 20px;
}

.download:hover {
  color: #ccf2ff;
}

footer {
  color: #CCF2FF;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #327db3;
  width: 100%;
  height: 4em;
}

.errorPage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #0f5298;
  background-color: #d5f3fe;
  align-items: center;
  justify-content: center;
}

.errorPage img {
  width: 25%;
}

.errorPage h1 {
  font-size: 2.5em;
}

.errorPage p {
  margin-top: 0.5em;
  width: 70%;
  font-size: 25px;
  font-weight: 700;
  line-height: 1em;
  text-align: center;
}

@media (max-width: 768px) {
  nav {
    height: 4em;
  }

  nav img {
    width: 20%;
    margin-left: 1.5em;
  }

  nav div {
    width: 100%;
    justify-content: end;
    padding: 1em;
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }

  .active {
    text-decoration: none;
    color: #CCF2FF;
    font-size: 1em;
    font-weight: 500;
    padding: 0 1em;
  }
  
  .inactive:hover {
    color: #CCF2FF;
  }
  
  .inactive {
    text-decoration: none;
    color: #afd8e6;
    font-size: 1em;
    font-weight: 500;
    padding: 0 1em;
  }

  .home {
    min-height: 85vh;
    max-height: max-content;
  }

  .home h1 {
    width: 90%;
    font-size: 1.5em;
    line-height: 1.3em;
  }

  .home-download {
    width: 80%;
    flex-direction: row;
    gap: 2em;
  }

  .dropdown {
    width: 100%;
    padding: 0.5em;
  }

  .download {
    width: 80%;
    margin-bottom: 0;
  }

  .drop-menu {
    width: 40%;
  }

  .drop-menu a {
    font-size: 17px;
  }

  .drop-items {
    width: 80%;
  }

  .drop-items .a {
    font-size: 17px;
  }

  .download {
    width: 40%;
    font-size: 17px;
    padding: 0.5em;
  }

  footer {
    height: 4em;
    font-size: 13px;
    padding: 1.5em 0;
  }

  footer p {
    width: 65%;
  }

  .errorPage {
    height: 100vh;
  }

  .errorPage img {
    width: 50%;
  }

  .errorPage h1 {
    width: 80%;
    font-size: 1.8em;
    text-align: center;
    line-height: 1.2em;
    margin-top: 1em;
  }

  .errorPage p {
    width: 90%;
    font-size: 17px;
    line-height: 1.2em;
    text-align: center;
    margin-top: 2em;
  }
}
